*{
    margin: 0;
    padding: 0;
}



.header .text-header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(27, 27, 144);
    text-shadow: rgb(141, 138, 138) 8px 8px 2px;
    text-align: center;
}

.banner{ 
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: rgb(83, 193, 197);
}

.banner .text-banner{
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
}

.banner .text-banner:hover {
    background-color: rgb(225, 218, 218);
}
.banner .text-banner:hover a{
    color: #000;
}
.banner .text-banner a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.content .image-content img{
    width: 400px;
    height: 400px;
}

.content .text-content{
    padding: 20px;
}
.text-content h1{
    color:rgb(141, 138, 138);
}
.content{ 
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sig-in-btn{
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    background-color:rgb(83, 193, 197);
    margin-left: 20px;
    font-weight: 600;
    color: #fff;
}

.sig-in-btn:hover{
    background-color: rgb(225, 218, 218);
    color: #000;
}